<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roc.shop.service.dao.ProdPropMapper">
    <resultMap id="BaseResultMap" type="com.roc.shop.bean.model.ProdProp">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="prop_id" jdbcType="BIGINT" property="propId"/>
        <result column="prop_name" jdbcType="VARCHAR" property="propName"/>
        <result column="rule" jdbcType="TINYINT" property="rule"/>
    </resultMap>


</mapper>
